*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    overflow: hidden;
}
header{
    width: 100%;
    background-color: #0094FF;
    display: flex;
    color: white;
}

nav{
    display: flex;
    flex-grow: 1;
    padding:5px 30px;
}
h1{
    width: 1px;
}
h1 span{
    margin-left: 35px;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    display: flex;
    gap: 60px;
    align-items: center;
    margin-left: auto;
}
li{
    list-style: none;
}

.container{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 4fr;
}


.active_users_wrapper{
    background-color: #1368A6;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
}
.active_users_label{
    height:8vh;
    text-align: center;
}
.active_users_label span{
    display: inline-block;
    padding: 3vh;
    width: 100%;
}
.active_user{
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding-top: 3vh;
    color: #12D448;
}
.chat{
    height: 100%;
    overflow: auto;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
}
.room_name{
    position: sticky;
    z-index: 2;
    top:0;
    background-color: #0094FF;
    width: 100%;
    background-color: #C3C3C3;
    text-align: center;
    color: #0094FF;
    font-weight: bold;
}

.room_name span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.msg_form_container{
    position: sticky;
    bottom:0;
    background-color: #C3C3C3;
    z-index: 1;
    width: 100%;
}
#msg_form{
    
    width: 100%;
    height: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
}
#input_msg{
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    font-weight: bold;
    margin-left: 20px;
    outline: none;
    width: 90%;
    border: none;
    border-radius: 10px;
}
#submit_msg{
    margin-left: 30px;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: none;
    background-image: url("/svg/send.svg");
    background-repeat: no-repeat;
    cursor: pointer;
}

.msg_container{
    overflow: auto;
}

.msg_wrapper{
    height: 50px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 25px;
    z-index: -1;
}
.my_msg{
    position: relative;
    text-align: end;
    background-color: #0094FF;
    margin-right: 35px;
    float: right;
    min-width: 40px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 35px 30px 0 35px;
}
.my_date{
   float: right;
   font-size: 12px;
   position: relative;
   top:40%;
   margin-right: 8px;
   color: #8f8e8e;
   font-weight: bold;
}

.msg{
    position: relative;
    background-color: #8f8e8e;
    margin-left: 15px;
    float: left;
    min-width: 80px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px 35px 35px 0px;
}
.date{
   float: left;
   font-size: 12px;
   position: relative;
   top:40%;
   margin-left: 8px;
   color: #8f8e8e;
   font-weight: bold;
}
.msg_author{
   float: left;
   font-size: 16px;
   position: relative;
   top:40%;
   margin-left: 8px;
   color: #000000;
   font-weight: bold;
}